# Home Assistant Core, full dependency set
-r requirements.txt

# homeassistant.components.homekit
HAP-python==3.2.0

# homeassistant.auth.mfa_modules.totp
# homeassistant.components.homekit
PyQRCode==1.2.1

# homeassistant.components.homekit
PyTurboJPEG==1.4.0

# homeassistant.components.homekit_controller
aiohomekit==0.2.60

# homeassistant.components.emulated_hue
# homeassistant.components.http
aiohttp_cors==0.7.0

# homeassistant.components.apache_kafka
aiokafka==0.6.0

# homeassistant.components.keyboard_remote
aionotify==0.2.0

# homeassistant.components.upnp
async-upnp-client==0.14.13

# homeassistant.components.stream
av==8.0.2

# homeassistant.components.homekit
base36==0.1.1

# homeassistant.components.zha
bellows==0.21.0

# homeassistant.scripts.check_config
colorlog==4.7.2

# homeassistant.components.color_extractor
colorthief==0.2.1

# homeassistant.components.debugpy
debugpy==1.2.1

# homeassistant.components.ssdp
defusedxml==0.6.0

# homeassistant.components.updater
distro==1.5.0

# homeassistant.components.keyboard_remote
# evdev==1.1.2

# homeassistant.components.homekit
fnvhash==0.1.0

# homeassistant.components.geo_json_events
geojson_client==0.4

# homeassistant.components.profiler
guppy3==3.1.0

# homeassistant.components.splunk
hass_splunk==0.1.1

# homeassistant.components.frontend
home-assistant-frontend==20210208.0

# homeassistant.components.zwave
homeassistant-pyozw==0.1.10

# homeassistant.components.influxdb
influxdb-client==1.14.0

# homeassistant.components.influxdb
influxdb==5.2.3

# homeassistant.scripts.keyring
keyring==21.2.0

# homeassistant.scripts.keyring
keyrings.alt==3.4.0

# homeassistant.components.tts
mutagen==1.45.1

# homeassistant.components.discovery
# homeassistant.components.ssdp
netdisco==2.8.2

# homeassistant.components.notify_events
notify-events==1.0.4

# homeassistant.components.mqtt
paho-mqtt==1.5.1

# homeassistant.components.prometheus
prometheus_client==0.7.1

# homeassistant.components.zwave
pydispatcher==2.0.5

# homeassistant.components.profiler
pyprof2calltree==1.4.5

# homeassistant.components.zha
pyserial-asyncio==0.5

# homeassistant.components.zha
pyserial==3.5

# homeassistant.components.ozw
python-openzwave-mqtt[mqtt-client]==1.4.0

# homeassistant.components.keyboard
# pyuserinput==0.1.11

# homeassistant.components.python_script
restrictedpython==5.1

# homeassistant.components.dhcp
scapy==2.4.4

# homeassistant.components.recorder
# homeassistant.components.sql
sqlalchemy==1.3.23

# homeassistant.components.statsd
statsd==3.2.1

# homeassistant.components.upb
upb_lib==0.4.12

# homeassistant.components.media_extractor
youtube_dl==2021.01.24.1

# homeassistant.components.zeroconf
zeroconf==0.28.8

# homeassistant.components.zha
zha-quirks==0.0.53

# homeassistant.components.zha
zigpy-cc==0.5.2

# homeassistant.components.zha
zigpy-deconz==0.11.1

# homeassistant.components.zha
zigpy-xbee==0.13.0

# homeassistant.components.zha
zigpy-zigate==0.7.3

# homeassistant.components.zha
zigpy-znp==0.3.0

# homeassistant.components.zha
zigpy==0.32.0

# homeassistant.components.zwave_js
zwave-js-server-python==0.17.2
