# Home Assistant Core, full dependency set
-r requirements.txt

# homeassistant.components.homekit
HAP-python==3.2.0

# homeassistant.components.homekit
PyQRCode==1.2.1

# homeassistant.components.homekit
PyTurboJPEG==1.4.0

# homeassistant.components.homekit_controller
aiohomekit==0.2.60

# homeassistant.components.http
aiohttp_cors==0.7.0

# homeassistant.components.keyboard_remote
aionotify==0.2.0

# homeassistant.components.upnp
async-upnp-client==0.14.13

# homeassistant.components.stream
av==8.0.2

# homeassistant.components.homekit
base36==0.1.1

# homeassistant.scripts.check_config
colorlog==4.7.2

# homeassistant.components.color_extractor
colorthief==0.2.1

# homeassistant.components.debugpy
debugpy==1.2.1

# homeassistant.components.ssdp
defusedxml==0.6.0

# homeassistant.components.updater
distro==1.5.0

# homeassistant.components.keyboard_remote
# evdev==1.1.2

# homeassistant.components.homekit
fnvhash==0.1.0

# homeassistant.components.geo_json_events
geojson_client==0.4

# homeassistant.components.profiler
guppy3==3.1.0

# homeassistant.components.frontend
home-assistant-frontend==20210208.0

# homeassistant.scripts.keyring
keyring==21.2.0

# homeassistant.scripts.keyring
keyrings.alt==3.4.0

# homeassistant.components.tts
mutagen==1.45.1

# homeassistant.components.discovery
# homeassistant.components.ssdp
netdisco==2.8.2

# homeassistant.components.notify_events
notify-events==1.0.4

# homeassistant.components.profiler
pyprof2calltree==1.4.5

# homeassistant.components.keyboard
# pyuserinput==0.1.11

# homeassistant.components.python_script
restrictedpython==5.1

# homeassistant.components.dhcp
scapy==2.4.4

# homeassistant.components.recorder
sqlalchemy==1.3.23

# homeassistant.components.media_extractor
youtube_dl==2021.01.24.1

# homeassistant.components.zeroconf
zeroconf==0.28.8

pyMetno==0.8.1

ha-ffmpeg==3.0.2

